<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style>
     footer {
            background-color: aqua;
            position: relative;
            /* Changed from absolute to relative for this example */
            width: 100%;
            text-align: left;
            padding: 10px;
        }
</style>
</head>
<body>
    <footer>
        <a href="/privacy">Privacy/Disclaimer content</a>
    </footer>
</body>